<%# Update me %>
<table>
  <td>
    <p>Nombre: <%= @monster.name %></p>  
    <p>Descripción: <%= @monster.description %></p>
    <%= button_to "Eliminar", @monster, method: :delete, class: "red" %>
  </td>
  <td>
    <% Tweet.where(monster_id:@monster.id).each do |tweet| %>
      <%= tweet.content %>
    <% end %>
  </td>
</table>
